{% extends "base.html.twig" %}

{% block header %}
    Edit course
{% endblock %}

{% block body %}

    <div class = "table-wrap" style="margin-bottom: 20px">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>

{% endblock %}