<li><p class="navbar-text"><a href="{{ path('userLogin') }}" class="navbar-link">To Do</a></p></li>
<li><p class="navbar-text"><a href="{{ path('externalCoordinatorStudentList') }}" class="navbar-link">Students</a></p></li>