{% extends "base.html.twig" %}

{% block header %}
    <h1 class = "page-header">Student Panel</h1>
{% endblock %}

{% block body %}

    {#<div class = "table-wrap">
        <a href="{{ path('enrollmentsState') }}"><button type="button" class="btn btn-primary addBtn">Courses Acceptance List</button></a>

    </div>#}
{% endblock %}